#viewport{
    width: 1280px;
    height: 720px;
    transform-origin: 0px 0px 0px;
    left: 0 px;
    top: 0px;
    position: absolute;
}

#main_canvas{
    background-image: url('../images/BG.png');
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}